*{
  padding: 0;
  margin: 0;
}

body{
  /* background-image: url("../img/bg.jpg"); */
  /* background-color: #7777ff; */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.btn-container{
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  /* z-index: 0; */
  --locus: 0rem;
  display: flex;
  width: 24rem;
  height: 3rem;
  cursor: pointer;
  background-color: #f7f7f7;
  /* background-color: #e5e5e5; */
  /* height: fit-content; */
  /* width: fit-content; */
  /* border-radius: 2rem; */
  margin: auto;
  margin-bottom: 0rem;
  /* padding: 2rem; */
  margin-top: 10vh;
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;
}

.container{
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: block;
  background: #f7f7f7;
  width: 20rem;
  margin: auto;
  /* margin-top: 10vh; */
  padding: 2rem; 
  padding-bottom: 0.75rem;
  overflow: hidden;
}

.slide-container{
  width: 50rem;
  display: flex;
}

.container-one{
  width: 20rem;
  display: block;
  margin-left: 0rem;
}

.container-two{
  width: 20rem;
  display: block;
  float: left;
  margin-left: 5rem;
}

.container-three{
  width: 20rem;
  display: block;
  float: left;
  margin-left: 5rem;
}

.btn-container .before{
  border: none;
  transition: all 1s ease;
  clip-path: content-box;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  /* content: ""; */
  position: absolute;
  z-index: 0;
  margin-left: var(--locus);
  margin-top: 0rem;
  /* top: -0.25rem; */
  width: 9rem;
  
  /* display: block; */
  border-top-left-radius: 0.4rem;
  /* border-top-right-radius: 0.4rem; */
  height: 3.07rem;
  background-image: linear-gradient(to right, #ff3344 , #ffaa44);
}

.btn-active, .btn-inactive{
  text-align: center;
  /* padding: 0.5rem; */
  z-index: 1;
  /* transition: 1s; */
  font-family: sans-serif;
  width: 9rem;
  background-color: transparent;
  padding: 0.75rem 0rem;
  /* 7777dd */
  border: none;
  font-size: 1.15rem;
  color: #f7f7f7;
  letter-spacing: 0.08rem;
  cursor: pointer;
  color: #444;
}

.btn-inactive{
  /* background-color: transparent;  */
  /* background-image: none; */
  color: #444;
}

.container h1{
  color: #444;
  font-weight: normal;
  font-size: 1.75rem;
  font-family: sans-serif;
  text-align: center;
  margin: 1rem auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  word-spacing: 0.5rem;;
}