*{
  padding: 0;
  margin: 0;
}

body{
  background-image:  url("../img/bg.jpg");
  /* background-color: #7777ff; */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.container{
  /* border-radius: 0.75rem; */
  display: block;
  background: #f7f7f7;
  width: 20rem;
  margin: auto;
  margin-top: 10vh;
  padding: 2rem; 
  padding-bottom: 0.75rem;
  overflow: hidden;
}

.icon-container{
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}
.fa{
  background-image: linear-gradient(to right, #ff3344 , #ffaa44);
  color: #e5e5e5;
  padding: 1rem;
  border-radius: 50px;
  margin: 0.5rem;
}

.fa-facebook{
  padding: 1.055rem 1.25rem;
}

.slide-container{
  width: 50rem;
  display: flex;
}

.container-one{
  width: 20rem;
  display: block;
  margin-left: 0rem;
}

.container-two{
  width: 20rem;
  display: block;
  float: left;
  margin-left: 5rem;
}

.btn-container::before{
  transition: 0.75s;
  content: "";
  position: absolute;
  z-index: 0;
  margin-left: var(--locus);
  margin-top: 0rem;
  /* top: -0.25rem; */
  width: 9rem;
  height: 3rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #ff3344 , #ffaa44);
}

.btn-container{
  /* z-index: 0; */
  --locus: 0rem;
  display: flex;
  width: 18rem;
  height: 3rem;
  cursor: pointer;
  background-color: #e5e5e5;
  /* height: fit-content; */
  /* width: fit-content; */
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 1.5rem;
  /* box-shadow: #ff6347; */
  /* border: 1px solid #ff6347; */
}

.btn-active, .btn-inactive{
  display: block;
  text-align: center;
  /* padding: 0.5rem; */
  z-index: 1;
  /* transition: 1s; */
  font-family: sans-serif;
  width: 9rem;
  background-color: transparent;
  padding: 0.75rem 0rem;
  /* 7777dd */
  border: none;
  font-size: 1.15rem;
  color: #f7f7f7;
  letter-spacing: 0.08rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #444;
}

.btn-inactive{
  /* background-color: transparent;  */
  /* background-image: none; */
  color: #444;
}